html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.ant-layout {
    flex: 1;
    display: flex;
    flex-direction: column; 
}

.ant-layout-header {
    color: white;
}

.ant-layout-content {
    flex: 1;
}

.ant-layout-footer {
    text-align: center;
}
